<h1>Create new todo</h1>

<% if @todo.errors.any? %>
    <h2>Can't create to do</h2>
    <ul>
        <% @todo.errors.full_messages.each do |msg|%>
            <li> <%= msg %> </li>
        <% end %>
    </ul>
<% end %>

<%= form_for @todo, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
    <p> 
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    
    <p>
        <%= f.label :description %><br>
        <%= f.text_area :description, size: "50x6" %>
    </p>
    
    <p>
        <%= f.submit "Create" %>
    </p>
<% end %>